@import "../../utils/Breakpoint.scss";
@import "../../utils/Size.scss";

$flex-inline-css-variable-name: flex-inline;
$flex-align-items-css-variable-name: flex-align-items;
$flex-direction-css-variable-name: flex-direction;
$flex-gap-css-variable-name: flex-gap;
$flex-wrap-css-variable-name: flex-wrap;

:host {
    display: flex;
    max-width: 100%;
    margin: 0;
    padding: 0;
    line-height: $line-height-base;

    @include breakpoint-aware-css-variable($flex-inline-css-variable-name, flex);
    @include breakpoint-aware-css-variable($flex-align-items-css-variable-name, normal);
    @include breakpoint-aware-css-variable($flex-direction-css-variable-name, row);
    @include breakpoint-aware-css-variable($flex-gap-css-variable-name, 0);
    @include breakpoint-aware-css-variable($flex-wrap-css-variable-name, 'nowrap');

    @each $breakpoint in map-keys($breakpoints) {
        $infix: breakpoint-infix($breakpoint);

        @include breakpoint-up($breakpoint) {
            display: var(--#{$flex-inline-css-variable-name}#{$infix});
            align-items: var(--#{$flex-align-items-css-variable-name}#{$infix});
            flex-direction: var(--#{$flex-direction-css-variable-name}#{$infix});
            gap: var(--#{$flex-gap-css-variable-name}#{$infix});
            flex-wrap: var(--#{$flex-wrap-css-variable-name}#{$infix});
        }
    }
}
